/* Custom CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
    font-family: Arial, sans-serif;
    background-image: url('Images/laptop-3076957.jpg'); /* Background image URL */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    color: #251a1a; /* Text color */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.welcome-section {
    padding: 40px;
}

.welcome-text {
    font-size: 30px;
    margin-bottom: 30px;
}

.images {
    border-radius: 50%;
    border: 5px solid #dbfeff;
}
/* Navigation Styles */
nav {
    background-color: #1d1e1f;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin: 0 20px;
}

nav a:hover {
    text-decoration: underline;
}

/* Animation Text tangalin mo nalang eti kung ayaw mo */
p {
    text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
}

.container {
    color: #666363;
    font-size: 2.26rem;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animation {
    height: 50px;
    overflow: hidden;
    margin-left: 1rem;
}

.animation > div > div {
    padding: 0.25rem 0.75rem;
    height: 2.81rem;
    margin-bottom: 5.81rem;
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 8s infinite;
}

.first div {
    background-color: #20a7d8;
}

.second div {
    background-color: #CD921E;
}

.third div {
    background-color: #c10528;
}

@keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
}

/*Button animation*/
.button {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 4px;
    position: relative;
    background-color: #2f32c5;
    border: none;
    color: #fff;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #193047;
    border-radius: 4px;
  }
  
  .button:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #1686d1;
    color: #000;
  }
  
  .button:after {
    content: "";
    background: #1abc9c;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .button:focus { outline:0; }
